* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body.light {
  background-image: url('/ftft.jpg');
  background-size: cover;
}

body.dark {
  background-image: url('/ftf.jpg');
  background-size: cover;
}

.place {
  background-color: #1E90FF;
  color: #FFFF00;
  font-weight: bold;
}

button.mt-4 {
  background-color: #FF4500;
  font-weight: 600;
  color: #FFFF00;
}

.foto {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('/fine.jpg');
  background-size: cover;
}